@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><b>Bem vindo ao torneio <br /> de futebol da Madeira</b></h1>
    <br/>
    <p>Neste site vais conseguir encontrar todas as informações sobre as equipas registadas no torneio, assim como registar a tua própria equipa!</p>
    <img src="~/images/main_image.jpg" class="mainImage">
</div>
