html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: black;
  color: white;
}

.mainImage{
    border-radius: 20px;
    filter: drop-shadow(0px 0px 10px rgb(255, 255, 255));
    margin: 40px;
}

.newFont {
    font-family: 'Tapestry', cursive;
}

.menu{
    color: #48e52e;
}